<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.typeContrat) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.typeContrat) }}
        {{ form_errors(form.typeContrat) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.informationsGenerales.intitulePoste) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.informationsGenerales.intitulePoste) }}
        {{ form_errors(form.informationsGenerales.intitulePoste) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {{ form_label(form.informationsGenerales.dateDebut) }}
        {{ form_widget(form.informationsGenerales.dateDebut) }}
        {{ form_errors(form.informationsGenerales.dateDebut) }}
    </div>
    <div class="form-group col">
        {{ form_label(form.informationsGenerales.dateFin) }}
        {{ form_widget(form.informationsGenerales.dateFin) }}
        {{ form_errors(form.informationsGenerales.dateFin) }}
    </div>
</div>

<div class="form-check">
    {{ form_widget(form.informationsGenerales.enCours, { attr: { class: 'form-check-input' } }) }}
    {{ form_label(form.informationsGenerales.enCours) }}
    {{ form_errors(form.informationsGenerales.enCours) }}
</div>

<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.entreprise) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.entreprise) }}
        {{ form_errors(form.entreprise) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.ville) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.ville) }}
        {{ form_errors(form.ville) }}
    </div>
</div>

{{ form_label(form.missions) }}
{{ include(get_template_path(cv) ~ '/subform/formulaire-missions.html.twig', { 'form': form.missions }) }}
