<div data-prototype-line>
    <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, { attr: { class: 'form-control' } }) }}
                        {{ form_errors(form.nom) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ form_label(form.note) }}
                        {{ form_widget(form.note, { attr: { class: 'form-control' } }) }}
                        {{ form_errors(form.note) }}
                    </div>
                </div>
            </div>
        </div>
        <button type="button" data-prototype-button-remove>Supprimer</button>
    </div>
</div>
