<div class="media">
    <img class="mx-auto d-block img-fluid" src="{{ cv_avatar(cv) }}" alt="Generic placeholder image" />
    <div class="media-body">
        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.avatar_path) }}
            {{ form_widget(form.avatar_path, { attr: { class: 'form-control-file' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.situationProfessionnelle) }}
            {{ form_widget(form.situationProfessionnelle, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.disponibilite) }}
            {{ form_widget(form.disponibilite, { attr: { class: 'form-control' } }) }}
        </div>
    </div>
</div>
