<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.typeContrat) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.typeContrat, { attr: { class: 'form-control' } }) }}
        {{ form_errors(form.typeContrat) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.informationsGenerales.intitulePoste) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.informationsGenerales.intitulePoste, { attr: { class: 'form-control' } }) }}
        {{ form_errors(form.informationsGenerales.intitulePoste) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {{ form_label(form.informationsGenerales.dateDebut) }}
        {{ form_widget(form.informationsGenerales.dateDebut, { attr: { class: 'form-control' } }) }}
        {{ form_errors(form.informationsGenerales.dateDebut) }}
    </div>
    <div class="form-group col">
        {{ form_label(form.informationsGenerales.dateFin) }}
        {{ form_widget(form.informationsGenerales.dateFin, { attr: { class: 'form-control' } }) }}
        {{ form_errors(form.informationsGenerales.dateFin) }}
    </div>
</div>

<div class="form-check">
    {{ form_widget(form.informationsGenerales.enCours, { attr: { class: 'form-check-input' } }) }}
    {{ form_label(form.informationsGenerales.enCours) }}
    {{ form_errors(form.informationsGenerales.enCours) }}
</div>

<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.entreprise) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.entreprise, { attr: { class: 'form-control' } }) }}
        {{ form_errors(form.entreprise) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        {{ form_label(form.ville) }}
    </div>
    <div class="col-sm-9">
        {{ form_widget(form.ville, { attr: { class: 'form-control' } }) }}
        {{ form_errors(form.ville) }}
    </div>
</div>
