
{{ form_errors(form) }}

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <button type="button" data-toggle="modal" data-target="#modal-generale">Modifier</button>
                <img class="mx-auto d-block img-fluid" src="{{ cv_avatar(cv) }}" alt="Generic placeholder image" />
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <button type="button" data-toggle="modal" data-target="#modal-contacts">Modifier</button>
                <div class="row">
                    {% for contact in cv.contacts %}
                        <div class="col">
                            <div class="text-center" data-container="body" data-toggle="popover" data-content="{{ contact.valeur }}">
                                <i class="{{ contact | contact_icon_class }} fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <button type="button" data-toggle="modal" data-target="#modal-disponibilite">Modifier</button>
                <dl>
                    <dd>{{ cv.situationProfessionnelle | readable_enum }}</dd>
                    <dd>{{ cv.disponibilite | readable_enum }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h1>
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            Experiences
        </h1>
        {% for experience in cv.experiences %}
            <div class="card">
                <div class="card-body">
                    <button type="button" data-toggle="modal" data-target="#modal-experience-{{ experience.id }}">Modifier</button>
                    <button type="button" data-remove="#modal-experience-{{ experience.id }}" data-remove-title="Attention" data-remove-body="Êtes-vous sur de vouloir supprimer cette expérience ?">Supprimer</button>
                    <h2 class="card-title">{{ experience.informationsGenerales.intitulePoste }}</h2>
                    <h3>{{ experience.entreprise.nom }}</h3>
                    <div>{{ experience_periode(experience) }}</div>
                    <div>
                        <span class="badge badge-secondary">
                            {{ experience.typeContrat | readable_enum  }}
                        </span>
                        <span class="badge badge-secondary">
                            {{ experience.ville.nom  }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button data-toggle="modal" data-target="#modal-experience-new">Ajouter</button>
    </div>
    <div class="col-3">
        <h1>
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            Compétences
        </h1>
        {% for domaineCompetence in cv.domainesCompetence %}
            <div class="card">
                <div class="card-body">
                    <button type="button" data-toggle="modal" data-target="#modal-domaine-{{ domaineCompetence.id }}">Modifier</button>
                    <button type="button" data-remove="#modal-domaine-{{ domaineCompetence.id }}" data-remove-title="Attention" data-remove-body="Êtes-vous sur de vouloir supprimer ce domaine de compétence ?">Supprimer</button>
                    <h2 class="card-title">{{ domaineCompetence.nom }}</h2>
                    <ul>
                        {% for competence in domaineCompetence.competences %}
                            <li>
                                {{ competence.nom }}
                                {{ competence.note }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        <button data-toggle="modal" data-target="#modal-domaine-new">Ajouter</button>
    </div>
</div>
