
{% use 'flash.html.twig' %}

{{ form_start(form) }}

<nav class="navbar navbar-expand-lg navbar-edition-cv">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Choisir un design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Télécharger le CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Partager mon CV</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron jumbotron-fluid jumbotron-cv buttons-group-edition-container">
        <div class="container">
            <h1>{{ cv.user.fullName }}</h1>
            <h2>{{ cv.nom }}</h2>
            <div class="buttons-group-edition">
                <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modal-nom">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    {{ block('flash') }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-3">
            <div class="card buttons-group-edition-container">
                <div class="card-body">
                    <div class="buttons-group-edition">
                        <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modal-generale">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <img class="mx-auto d-block img-fluid" src="{{ cv_avatar(cv) }}" alt="Generic placeholder image" />
                </div>
            </div>
            <div class="card buttons-group-edition-container">
                <div class="card-body">
                    <h5 class="card-title">Contacts</h5>
                    <div class="buttons-group-edition">
                        <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modal-contacts">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="row">
                        {% for contact in cv.contacts %}
                            <div class="col">
                                <div class="text-center" data-container="body" data-toggle="popover" data-content="{{ contact.valeur }}">
                                    <i class="{{ contact | contact_icon_class }} fa-fw" aria-hidden="true"></i>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card buttons-group-edition-container">
                <div class="card-body">
                    <h5 class="card-title">Situation professionnelle</h5>
                    <div class="buttons-group-edition">
                        <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modal-disponibilite">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <dl>
                        <dd>{{ cv.situationProfessionnelle | readable_enum }}</dd>
                        <dd>{{ cv.disponibilite | readable_enum }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1>
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                Experiences
            </h1>
            {% for experience in cv.experiences %}
                <div class="card buttons-group-edition-container">
                    <div class="card-body">
                        <div class="buttons-group-edition">
                            <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modal-experience-{{ experience.id }}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-primary btn-round"
                                    data-remove="#modal-experience-{{ experience.id }}"
                                    data-remove-title="Attention"
                                    data-remove-body="Êtes-vous sur de vouloir supprimer cette expérience ?">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </div>
                        <h2 class="card-title">{{ experience.informationsGenerales.intitulePoste }}</h2>
                        <h3>{{ experience.entreprise.nom }}</h3>
                        <div>{{ experience_periode(experience) }}</div>
                        <div>
                            <span class="badge badge-secondary">
                                {{ experience.typeContrat | readable_enum  }}
                            </span>
                            <span class="badge badge-secondary">
                                {{ experience.ville.nom  }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-experience-new">Ajouter</button>
        </div>
        <div class="col-3">
            <h1>
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                Compétences
            </h1>
            {% for domaineCompetence in cv.domainesCompetence %}
                <div class="card buttons-group-edition-container">
                    <div class="card-body">
                        <div class="buttons-group-edition">
                            <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modal-domaine-{{ domaineCompetence.id }}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-primary btn-round"
                                    data-remove="#modal-domaine-{{ domaineCompetence.id }}"
                                    data-remove-title="Attention"
                                    data-remove-body="Êtes-vous sur de vouloir supprimer ce domaine de compétence ?">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </div>
                        <h2 class="card-title">{{ domaineCompetence.nom }}</h2>
                        <ul>
                            {% for competence in domaineCompetence.competences %}
                                <li>
                                    {{ competence.nom }}
                                    {{ competence.note }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-domaine-new">Ajouter</button>
        </div>
    </div>

    {{ include('.inc/cv/formulaire.html.twig', { 'form': form, 'cv': cv }) }}

    {{ form_end(form) }}
</div>
